
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

:root{

    --colortexto: #FFFFFF;
    --colortextoresaltado: #20FF0C;
    --fuente: "Abyssinica SIL", sans-serif;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    background-color: #0D1117;
}

.body{
    display: flex;
    flex-direction: column;
}

.menu{

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 39px;
    color: var(--colortexto);
    font-family: var(--fuente);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 100%;
    

}

.home{
    text-decoration: none;
    color: var(--colortexto);
}

.sobremim{
    text-decoration: none;
    color: var(--colortexto);
}


.skillsm{
    text-decoration: none;
    color: var(--colortexto);
}

.experienciam{
    text-decoration: none;
    color: var(--colortexto);
}

.contactom{
    text-decoration: none;
    color: var(--colortexto);
}




.imagenmain{
    margin-top: 150px;
    margin-bottom: 10px;
}

#main{
    height: 100vh;
    width: 100%;
    justify-items: center;
    text-align: center;
    margin: auto;
}

.nombre{
    font-size: 40px;
    font-family: var(--fuente);
    color: var(--colortexto);
}

.textoresaltar{
    color: var(--colortextoresaltado);
}

.introduccion{
    font-family: var(--fuente);
    font-size: 24px;
    color: var(--colortexto);
    padding-bottom: 30px;

}

.cvcontacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: auto;
    padding: 20px;
}


.descargarcv{
    font-family: var(--fuente);
    font-size: 24px;
    border-radius: 100px;
    padding: 18px;
    background-color: var(--colortexto);
    text-decoration: none;
    color: black;
}


.contactame{
    font-family: var(--fuente);
    font-size: 24px;
    border-radius: 100px;
    padding: 20px;
    background-color: var(--colortexto);
    color: black;
    text-decoration: none;
}


.enlaces{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 5px;
}

.linkedin{
    border-radius: 100px;
    padding: 15px;
    background-color: var(--colortextoresaltado);
}

.github{
    border-radius: 100px;
    padding: 9px;
    background-color: var(--colortextoresaltado);
}

#sobremi{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 20px;
    gap: 10px;
    margin: auto;
    
}
.sobremiintro{
    margin-top: auto;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.sobremititulo{
    font-family: var(--fuente);
    font-size: 40px;
    color: var(--colortexto); 
}

.textosobremi{
    font-family: var(--fuente);
    font-size: 20px;
    color: var(--colortexto); 
    text-align: justify;
    padding:5px;
}

.sobremifoto{
    width: 30%;
    height: 80%;
    padding: 5px;
}

.contenidoSobremi{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px;
}

.skillsintro{
    display: flex;
    align-items: center;
    padding: 10px;
    
}

#skills{
    display: flex;
    flex-direction: column;
    height: 65vh;
    align-items: center;
    padding-top: 100px;
    gap:20px;
    margin: auto;
}

.skillstitulo{
    font-family: var(--fuente);
    font-size: 40px;
    color: var(--colortexto);
}
.iconosskills{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px;
}

.iconosskills1{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 10px;
}

.iconosskills2{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 10px;
}

.experienciaintro{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#experiencia{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 100px;
    gap:20px;
    margin: auto;
    
}

.empresa{
    font-family: var(--fuente);
    font-size: 24px;
    color: var(--colortexto);
    padding: 5px;
}

.cargos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    text-align: justify;
    font-family: var(--fuente);
    font-size: 18px;
    color: var(--colortexto);
}


.arregloexperiencia{
    display: flex;
    flex-direction: row;  
    gap: 1px; 
    padding: 5px;
    margin: auto;
}


#contactame{
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    gap: 30px;
    padding: 100px;
    padding-top: 110px;
    margin: auto;
}

.contactameintro{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.contactametitulo{
    font-family: var(--fuente);
    font-size: 40px;
    color: var(--colortexto); 
}

.mail{
    display: flex;
    align-items: center;
    font-family: var(--fuente);
    font-size: 30px;
    color: var(--colortexto); 
    gap: 40px;
    padding: 5px;
    
}

.whatsapp{
    display: flex;
    align-items: center;
    font-family: var(--fuente);
    font-size: 30px;
    color: var(--colortexto); 
    gap: 25px;
    text-decoration: none;
    padding: 5px;
}

.whatsapptext{
    text-decoration: none;
}

.piedepagina{
    display: flex;
    align-items: center;
    font-family: var(--fuente);
    font-size: 20px;
    justify-content: center;
    background-color: var(--colortexto);
    padding: 1.5%;
}

.contactameimg{
    width: 15%;
}

.sobremiicono{
    width: 20%;
}

.skillsicon{
    width: 30%;
}
.experienciaimg{
    width: 15%;
}

@media (max-width: 1200px) {

    .menu{
        
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        color: var(--colortexto);
        font-family: var(--fuente);
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        width: 100%;
        
        }

        .imagenmain{
            width: 50%;
            padding-top: min(100em,50%);
            margin-top: 0px;
            
        }
        #main{
            height:auto;
            width: 100%;
            align-items: center;
            padding: 10px;
        }
        .nombre{
            font-size: 20px;
            
        }
        .introduccion{
            font-size:15px;
            padding: 5px;
        }

        .introduccion br{
            display: none;
        }

        .cvcontacto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
        }

        .descargarcv{
            font-size: 15px;
            width: 100%;
            padding: 18px;
            max-width: 100%;
          
        }

        .contactame{
            font-size: 15px;
            width: 100%;
            padding: 18px;
            max-width: 100%;
        }
        
        .enlaces{
            padding: 5px;
        }

        .linkedin{
            border-radius: 50px;
            padding: 8px;
            background-color: var(--colortextoresaltado);
        }
    
        .linkedinimg{
            width: 50%;
        }
        .github{
            border-radius: 50px;
            padding: 5px;
            background-color: var(--colortextoresaltado);
        }
    
        .githubimg{
            width: 50%;
        }
        
        #sobremi{
            display: none;
        }

        #skills{
            display: none;
        }
        #experiencia{
            display: none;
        }

        #contactame{
            display: none;
        }

        .piedepagina{
            display: none;
        }
}