
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

:root{

    --colortexto: #FFFFFF;
    --colortextoresaltado: #20FF0C;
    --fuente: "Abyssinica SIL", sans-serif;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    background-color: #0D1117;
}

.body{
    display: flex;
    flex-direction: column;
}

.menu{

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 39px;
    color: var(--colortexto);
    font-family: var(--fuente);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 100%;
    
    
}

.home{
    text-decoration: none;
    color: var(--colortexto);
}

.sobremim{
    text-decoration: none;
    color: var(--colortexto);
}

.skillsm{
    text-decoration: none;
    color: var(--colortexto);
}

.experienciam{
    text-decoration: none;
    color: var(--colortexto);
}

.contactom{
    text-decoration: none;
    color: var(--colortexto);
}



.menu a:visited,
.menu a:focus,
.menu a:active {
    color: var(--colortexto); /* O el color que usas por defecto */
    text-decoration: none;
    outline: none;
}


.imagenmain{

    margin-top: 150px;
    margin-bottom: 10px;
}

#main{
    height: 87vh;
    width: 100%;
    justify-items: center;
    text-align: center;
}

.nombre{
    font-size: 40px;
    font-family: var(--fuente);
    color: var(--colortexto);
}

.textoresaltar{
    color: var(--colortextoresaltado);
}

.introduccion{
    font-family: var(--fuente);
    font-size: 24px;
    color: var(--colortexto);
    margin-top: 20px;
}

.cvcontacto{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin-bottom: 50px;
    
}


.descargarcv{
    font-family: var(--fuente);
    font-size: 24px;
    border-radius: 100px;
    padding: 18px;
    background-color: var(--colortexto);
    text-decoration: none;
    color: black;
}


.contactame{
    font-family: var(--fuente);
    font-size: 24px;
    border-radius: 100px;
    padding: 20px;
    background-color: var(--colortexto);
    color: black;
    text-decoration: none;
}


.enlaces{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 47px;
    align-items: center;
}

.linkedin{
    border-radius: 100px;
    padding: 15px;
    background-color: var(--colortextoresaltado);
}

.github{
    border-radius: 100px;
    padding: 9px;
    background-color: var(--colortextoresaltado);
}

#sobremi{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    padding: 20px;
    
}
.sobremiintro{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 48px;
    margin-right: 440px;
}

.sobremititulo{
    font-family: var(--fuente);
    font-size: 40px;
    color: var(--colortexto); 
}

.textosobremi{
    font-family: var(--fuente);
    font-size: 20px;
    color: var(--colortexto); 
    margin-left: 580px;
}

.sobremifoto{
    width: 10%;
    height: 80%;
    margin-right: 200px;
}

.contenidoSobremi{
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.skillsintro{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 48px;
    margin-right: 500px;
}

#skills{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    padding: 200px;
}

.skillstitulo{
    font-family: var(--fuente);
    font-size: 40px;
    color: var(--colortexto);
}

.iconosskills1{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 30px;
}

.iconosskills2{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.experienciaintro{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-right: 380px;
}

#experiencia{
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    padding: 90px;
    
}

.empresa{
    font-family: var(--fuente);
    font-size: 24px;
    color: var(--colortexto); 
    margin-bottom: 20px;
}

.cargos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
    text-align: justify;
    font-family: var(--fuente);
    font-size: 18px;
    color: var(--colortexto);
    margin-right: 290px;
}




.arregloexperiencia{
    display: flex;
    flex-direction: row;  
    gap: 1px; 
}


#contactame{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 200px;
}

.contactameintro{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
    margin-right: 380px;
}

.contactametitulo{
    font-family: var(--fuente);
    font-size: 40px;
    color: var(--colortexto); 
}

.mail{
    display: flex;
    align-items: center;
    font-family: var(--fuente);
    font-size: 30px;
    color: var(--colortexto); 
    gap: 40px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.whatsapp{
    display: flex;
    align-items: center;
    font-family: var(--fuente);
    font-size: 30px;
    color: var(--colortexto); 
    gap: 25px;
    margin-right: 190px;
    margin-bottom: 20px;
    text-decoration: none;
}

.whatsapptext{
    text-decoration: none;
}

.piedepagina{
    display: flex;
    align-items: center;
    font-family: var(--fuente);
    font-size: 20px;
    justify-content: center;
    background-color: var(--colortexto);
    padding: 1.5%;
}

@media (max-width: 1200px) {

    .menu{
        
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    color: var(--colortexto);
    font-family: var(--fuente);
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 100%;
    
    }

    .imagenmain{
        width: 50%;
        
    }
    #main{
        height: 65vh;
        width: 100%;
        align-items: center;
    }

    .introduccion{
        font-size: 15px;
    }
    .nombre{
        font-size: 18px;
    }
    .descargarcv{
        width: 100px;
        font-size: 10px;
        font-family: var(--fuente);
        border-radius: 100px;
        padding: 18px;
        background-color: var(--colortexto);
        text-decoration: none;
        color: black;
    }
    .contactame{
        width: 100px;
        font-size: 10px;
        font-family: var(--fuente);
        border-radius: 100px;
        padding: 18px;
        background-color: var(--colortexto);
        text-decoration: none;
        color: black;
    }

    .enlaces{
        gap: 10px
    }

    .linkedin{
        border-radius: 50px;
        padding: 8px;
        background-color: var(--colortextoresaltado);
    }

    .linkedinimg{
        width: 50%;
    }
    .github{
        border-radius: 50px;
        padding: 5px;
        background-color: var(--colortextoresaltado);
    }

    .githubimg{
        width: 50%;
    }
    

    #sobremi{
        height: 50vh;
        align-items: center;
        padding: 40px;
        width: 100%;
        gap: 20px;
        
    }

    .sobremiintro{
        align-items: center;
        gap: 10px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    

    .sobremiicono{
        width: 30px;
    }

    .sobremititulo{
        font-size: 20px;
    }

    .sobremifoto{
        display: none;
    }

    .textosobremi{
        white-space: normal;
        display: inline;
        max-width: 100%;
        font-family: var(--fuente);
        font-size: 12px;
        color: var(--colortexto); 
        margin-left: 0;
        text-align: justify;
    }

    .textosobremi br{
        display: none;
    }
 
    #skills{
        height: 50vh;
        align-items: center;
        padding: 40px;
        width: 100%;
        gap: 80px;

    }

    .skillsintro{
        margin-top: 100px;
        align-items: center;
        gap: 10px;
        margin-bottom: 0px;
        margin-right: 0px;
    }

    .skillsicon{
        width: 30px;
    }

    .skillstitulo{
        font-size: 20px;
    }

    .icon{
        width: 30px;
    }

    #experiencia{
        height: 80vh;
        align-items: center;
        padding: 40px;
        width: 100%;
        gap: 7px;
    }

    .experienciaintro{
        margin-top: 90px;
        align-items: center;
        gap: 10px;
        margin-bottom: 0px;
        margin-right: 0px;
    }

    .experienciaimg{
        width: 20%;
    }

    .empresa{
        font-size: 15px;
        align-items: center;
        gap: 10px;
        margin-bottom: 12px;
        margin-right: 0px;
    }

    .cargos{
        font-size: 12px;
        gap:10px;
        margin-right: 0px;
    }

    .contenidoexperiencia{
        font-size: 13px;
        text-align: justify;
        gap:15px;
       
    }

    .contenidoexperiencia br{
        display: none;
    }
   
    #contactame{
        height: 100vh;
        align-items: center;
        padding: 40px;
        width: 100%;
        gap: 80px;
        
    }
   



    .contactameintro{
        margin-top: 100px;
        align-items: center;
        gap: 10px;
        margin-bottom: 0px;
        margin-right: 0px;
    }

    .contactameimg{
        width: 20%;
    }
    .contactametitulo{
        font-size: 20px;
    }
    .correo{
        font-size: 15px;
    }
    .mail{
        align-items: center;
        gap: 50px;
        margin-bottom: 0px;
        margin-right: 0px;
    }

    .whatsapp{
        margin-bottom: 0px;
        margin-right: 50px;
        gap: 5px;
        align-items: center;
    }

    .mailicon{
        width: 11%;
    }

    .whatsapptext{
        font-size: 15px;
    }

    .whatsappimg{
        width: 50%;
    }

    .contactame{
        width: 100px;
        font-size: 10px;
        font-family: var(--fuente);
        border-radius: 100px;
        padding: 18px;
        background-color: var(--colortexto);
        text-decoration: none;
        color: black;
    }

    .piedepagina{
        font-size: 10px;
    }
}

